/*- Custom style -*/

// -- Put custom style under this point -- //

// body{
//     // font-family:'CMS', 'Droid Sans';
//     font-family : "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//     font-size:18px;
//     letter-spacing:-0.02rem;
//     line-height:1.5;
//     text-align:left
// }
body{
    font-family:'CMS', 'Droid Sans';
    font-size:18px;
    letter-spacing:-0.02rem;
    line-height:1.5;
    text-align:left
}@media only screen and (min-width:768px){
    body{text-align:justify
    }
}
h1{
    font-family:"Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:300%;
    line-height:65px;
    text-align:left
}
h2{
    font-family:"Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:150%;
    font-weight:bold;
    text-align:left;
    margin-top:40px;
    margin-bottom:20px
}
h3{
    font-size:115%;
    font-weight:bold;
    text-align:left;
    margin-top:30px;
    margin-bottom:20px
}
h4{
    font-weight:bold;
    text-align:left;
    margin-top:30px;
    margin-bottom:10px
}

code{
    font-family: "Consolas"
}

a:link{
    
}
a:visited{
    
}
a:hover{
    
}
a:active{
    
}